.App {
    text-align: center;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.vertical-box {
    display: flex;
    flex-direction: column;
}

.vertical-box Button {
    text-decoration: 'none';
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    color: white
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.rd-link {
    color: white;
    text-decoration: none;
    padding: 7%;
    font-weight: 1000;
}

.rd-link:hover {
    background-color: rgb(126, 126, 126);
}